html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #b91450;
}

.ms_container,
.ms_container2 {
    margin-top: 2rem;
    text-align: center;
}

h1, 
h3 {
    text-transform: uppercase;
    color: white;
}

.ms_container > div,
.ms_container2 > div {
    width: 100%;
    padding: 3rem 0;
    margin: 1rem auto;
    border-radius: 10px;
    background-color: white;
}

.ms_container2 h3 {
    margin-left: 1rem;
}

.bg-grey {
    background-color: grey;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #b91450;
}

input,
select {
    border: 2px solid #b91450;
    border-radius: 5px;
}

.ms_button {
    padding: .2rem .6rem;
    margin: 0 .2rem;
    border-radius: 5px;
    font-weight: 500;
    background-color: lightgrey;
    color: #b91450;
}